{% extends "base.html" %} 

{% block titulo %} INICIO {% endblock %}

{% block contenido %}

    <div class="relative bg-yellow-50">
        <div class="container m-auto px-6 pt-32 md:px-12 lg:pt-[4.8rem] lg:px-7">
            <div class="flex items-center flex-wrap px-2 md:px-0">
                <div class="relative lg:w-6/12 lg:py-24 xl:py-32">
                    <h1 class="font-bold text-4xl text-yellow-900 md:text-5xl ">Vive una experiencia Unica con Nuestros Platillos</h1>

                    <p class="mt-8 text-ownpink font-semibold text-xl  ">Que esperas, a probar nuestros deliciosos platillos </p>
                    <button type="button" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-bold rounded-lg text-2xl mt-10 px-5 py-2.5 text-center me-2 mb-2">Ver Menú</button>
                </div>
                <div class="ml-auto -mb-24 lg:-mb-56 lg:w-6/12">
                    <img src="https://cdn.discordapp.com/attachments/966120336624066593/1249567597117177916/plato.png?ex=6667c602&is=66667482&hm=a1a4d7aa06e02c20866116de9e37e98f371cbba119b94123813481f61525b8f3&" class="relative" alt="food illustration" loading="lazy" width="4500" height="4500">
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="font-black text-center text-bloodRed text-3xl mt-48">Nuestros Platillos mas famosos</h1>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-36 ml-56 mb-20">

    <div class="grid gap-4">

        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://th.bing.com/th/id/OIP.K49NsHTHvXy3HhPbjYVnqgHaEL?rs=1&pid=ImgDetMain" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://img.bekiacocina.com/articulos/portada/57000/57437.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://th.bing.com/th/id/R.44e0f7fb5df4df7e85ab94402c40711f?rik=JkDjKfMZg83FaQ&pid=ImgRaw&r=0" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://th.bing.com/th/id/R.a099f479bc82c7692e808ac1b065dec6?rik=3DOMu8dpm%2fw5SQ&pid=ImgRaw&r=0" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://www.gastrolabweb.com/u/fotografias/m/2020/11/27/f1280x720-5614_137289_5050.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/originals/e7/03/36/e7033614300946b6a704d888fd34bccf.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://s2.glbimg.com/mbFXT5epr0ukOonpvLjDRjCiYa8=/620x413/top/e.glbimg.com/og/ed/f/original/2019/05/10/salmao_com_risotto_de_beterraba.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://th.bing.com/th/id/OIP.Dt-ASWmW22HLFVrGEnHa-QHaE8?rs=1&pid=ImgDetMain" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://th.bing.com/th/id/OIP.yzQdDl-NicAIvpP6gfadEAHaEK?w=944&h=530&rs=1&pid=ImgDetMain" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://https://th.bing.com/th/id/OIP.tDmqr3eRcEYP6NvLggfXmwHaE8?rs=1&pid=ImgDetMain" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://https://aprende.com/wp-content/uploads/2022/06/platillo-gourmet.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://https://th.bing.com/th/id/OIP.F5frx1jDD_9smJXx8KgpGQHaE7?w=1280&h=853&rs=1&pid=ImgDetMain" alt="">
        </div>
    </div>
</div>


{% endblock %}
</div>