{% extends "base.html" %} 

{% block titulo %} Lista de Menu {% endblock %}

{% block contenido %}

<button type="button" onclick= window.location.href="{% url 'crear' %}" class="text-white text-xl drop-shadow-xl font-bold bg-brown rounded-2xl py-1 px-5 mt-36 ml-10 mb-10   ">Agregar Plato</button>


<div class="relative overflow-x-auto mx-8 rounded-2xl drop-shadow-2xl mb-20">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-2xl">
        <thead class="text-sm  text-white uppercase font-bold  bg-gradient-to-r from-orangeW to-ownpink dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Título
                </th>
                <th scope="col" class="px-6 py-3">
                    Imagen
                </th>
                <th scope="col" class="px-6 py-3">
                    descripción
                </th>
                  <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
         {% for menu in menus %}

            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-sm text-gray-900 whitespace-nowrap dark:text-white">
                    {{ menu.ID }}
                </th>
                <td class="px-6 py-4 text-gray-700 text-sm font-medium ">
                    {{ menu.Título }}
                </td>
                <td class="px-6 py-4 ">
                <img src=" {{ menu.Imagen }}" height="100" width="100" class="rounded-full">

                </td>
                <td class="px-6 py-4 text-gray-700 text-sm font-medium ">

                    {{ menu.Descripción }}
                </td>
                <td class="px-6 py-4 text-gray-700 text-sm font-medium ">
                <div class="flex justify-center">
                    <a class="text-yellow-300 bg-transparent border border-solid border-yellow-300 hover:bg-yellow-300 hover:text-black active:bg-yellow-300 font-bold uppercase text-lg hover:drop-shadow-xl px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" role="button" href="{% url 'editar' menu.ID %}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="text-bloodRed bg-transparent border border-solid border-bloodRed hover:bg-bloodRed hover:text-white active:bg-bloodRed font-bold uppercase text-lg px-4 py-2 hover:drop-shadow-xl rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" role="button" href="{% url 'eliminar' menu.ID %}">
                       <i class="fa-solid fa-trash"></i>
                    </a>
                </div>

                </td>

             {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


